<!DOCTYPE html>
<html>
  <head>
    <title>aplha-blog</title>
    <link rel = "stylesheet" type = "text/css" href = "home.css">
  </head>
<body>
  <%= image_tag 'ny.jpg' %>
  <h1>Pages#homepage</h1>
  <table>
    <tr>
      <th>col1 head</th>
      <th>col2 head</th>
      <th>col3 head</th>
    </tr>
    <tr>
      <td>col1</td>
      <td colspan = "2">col2 thats 2 long</td>
    </tr>
    <tr>
        <td rowspan="2">Row 3, cell 1, also spanning Row 4, cell 1</td>
        <td>Row 3, cell 2</td>
        <td>Row 3, cell 3</td>
    </tr>
    <tr>
        <td>Row 4, cell 2</td>
        <td>Row 4, cell 3</td>
    </tr>
  </table>
  <p>Find me in app/views/pages/homepage.html.erb</p>
  <%= link_to 'about', about_path %>
</body>
</html>

