<div class = "container">
  <footer class = "footer">
    <small>
      Copyright &copy; <a href = "https://www.udemy.com/courses/">Tutorials</a>, by Mark Goberdhan
    </small>
      <nav>
        <ul>
          <li><%= link_to 'About', about_path %></li>
          <li>this-is</li>
          <li>test</li>
        </ul>
      </nav>
  </footer>
</div>